{{- define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}
{{- $scratch := newScratch }}
{{- if isset $p "image" }}
  {{- $scratch.Set "image" $p.image }}
{{- else }}
  {{ $scratch.Set "image" $s.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := absLangURL (path.Join "images" $image) }}
<div class="{{ if ne $p.singleColumn true }}grid-inverse {{ end }}wrap content">
  <article class="post_content">
    {{- $t := .Title }}
    <h1 class="post_title">{{ $t | markdownify }}</h1>
    {{- partial "post-meta" . }}
    {{- with .Params.featureImage -}}
      <div class="post_featured">
        {{- partial "image" (dict "file" $p.featureImage "alt" $p.featureImageAlt "cap" $p.featureImageCap "type" "featured" "Page" $.Page) }}
      </div>
    {{- end -}}
    <div class="post_body">
      {{- .Content }}
    </div>

    {{- $showRelatedInArticle := true }}
    {{- if eq $s.showRelatedInArticle false }}
      {{- $showRelatedInArticle = false }}
    {{- else if eq $p.showRelatedInArticle false }}
      {{- $showRelatedInArticle = false }}
    {{- end }}
    {{- if ne $showRelatedInArticle false }}
      {{- partial "related" . }}
    {{- end }}

    {{- $showComments := true }}
    {{- if eq $s.comments false }}
      {{- $showComments = false }}
    {{- else if eq $p.comments false }}
      {{- $showComments = false }}
    {{- end }}
    {{- if ne $showComments false }}
      {{- partial "comments" . }}
    {{- end }}
    {{- partial "i18nlist" . }}

  </article>
  {{ if $p.toc }}
  <aside class="tableOfContentContainer" id="tableOfContentContainer">
    <h3>Índice</h3>
      {{ .TableOfContents }}
 </aside>
{{ else }}
  {{- if ( ne $p.sidebar false ) }}
    {{- partial "sidebar" . }}
  {{ end }}
{{ end }}
</div>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const id = entry.target.getAttribute('id');

        if (entry.intersectionRatio > 0) {
          clearActiveStatesInTableOfContents();
          document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
        }
      });
    });
    document.querySelectorAll('h1[id],h2[id],h3[id],h4[id]').forEach((section) => {
      observerForTableOfContentActiveState.observe(section);
    });

  });

  function clearActiveStatesInTableOfContents() {
    document.querySelectorAll('nav li').forEach((section) => {
      section.classList.remove('active');
    });
  }
</script>
{{- end }}
