  {{- $s := T "share_on" }}
  <div class="post_share">
    {{ $s }}:
    <!-- https://docs.bsky.app/docs/advanced-guides/intent-links --> 
    <a href="https://bsky.app/intent/compose?text={{ .Title }} <br> {{.Permalink}}" title="{{ $s }} Bluesky" target="_blank" rel="nofollow">
      {{ partial "sprite" (dict "icon" "bluesky") }}
    </a>
    <a href="{{ .Permalink }}" title="Copy Link" class="link link_yank">
      {{ partial "sprite" (dict "icon" "copy") }}
    </a>
  </div>
  
